In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('C:/Users/DELL/Downloads/Mall_Customers.csv')

In [3]:
df.head()

   CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   CustomerID              200 non-null    int64
 1   Genre                   200 non-null    object
 2   Age                     200 non-null    int64
 3   Annual Income (k$)      200 non-null    int64
 4   Spending Score (1-100)  200 non-null    int64
dtypes: int64(4), object(1)
memory usage: 7.9+ KB

In [5]:
df['Genre'] = df['Genre'].map({'Male':0, 'Female':1})
df

     CustomerID  Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1      0   19                  15                      39
1             2      0   21                  15                      81
2             3      1   20                  16                       6
3             4      1   23                  16                      77
4             5      1   31                  17                      40
..          ...    ...  ...                 ...                     ...
195         196      1   35                 120                      79
196         197      1   45                 126                      28
197         198      0   32                 126                      74
198         199      0   32                 137                      18
199         200      0   30                 137                      83

[200 rows x 5 columns]

In [6]:
X = df.iloc[:, :-1].values
X

array([[  1,   0,  19,  15],
       [  2,   0,  21,  15],
       [  3,   1,  20,  16],
       [  4,   1,  23,  16],
       [  5,   1,  31,  17],
       [  6,   1,  22,  17],
       [  7,   1,  35,  18],
       [  8,   1,  23,  18],
       [  9,   0,  64,  19],
       [ 10,   1,  30,  19],
       [ 11,   0,  67,  19],
       [ 12,   1,  35,  19],
       [ 13,   1,  58,  20],
       [ 14,   1,  24,  20],
       [ 15,   0,  37,  20],
       [ 16,   0,  22,  20],
       [ 17,   1,  35,  21],
       [ 18,   0,  20,  21],
       [ 19,   0,  52,  23],
       [ 20,   1,  35,  23],
       [ 21,   0,  35,  24],
       [ 22,   0,  25,  24],
       [ 23,   1,  46,  25],
       [ 24,   0,  31,  25],
       [ 25,   1,  54,  28],
       [ 26,   0,  29,  28],
       [ 27,   1,  45,  28],
       [ 28,   0,  35,  28],
       [ 29,   1,  40,  29],
       [ 30,   1,  23,  29],
       [ 31,   0,  60,  30],
       [ 32,   1,  21,  30],
       [ 33,   0,  53,  33],
       [ 34,   0,  18,  33],
       [ 35,   1,  49,  33],
       [ 36,   1,  21,  33],
       [ 37,   1,  42,  34],
       [ 38,   1,  30,  34],
       [ 39,   1,  36,  37],
       [ 40,   1,  20,  37],
       [ 41,   1,  65,  38],
       [ 42,   0,  24,  38],
       [ 43,   0,  48,  39],
       [ 44,   1,  31,  39],
       [ 45,   1,  49,  39],
       [ 46,   1,  24,  39],
       [ 47,   1,  50,  40],
       [ 48,   1,  27,  40],
       [ 49,   1,  29,  40],
       [ 50,   1,  31,  40],
       [ 51,   1,  49,  42],
       [ 52,   0,  33,  42],
       [ 53,   1,  31,  43],
       [ 54,   0,  59,  43],
       [ 55,   1,  50,  43],
       [ 56,   0,  47,  43],
       [ 57,   1,  51,  44],
       [ 58,   0,  69,  44],
       [ 59,   1,  27,  46],
       [ 60,   0,  53,  46],
       [ 61,   0,  70,  46],
       [ 62,   0,  19,  46],
       [ 63,   1,  67,  47],
       [ 64,   1,  54,  47],
       [ 65,   0,  63,  48],
       [ 66,   0,  18,  48],
       [ 67,   1,  43,  48],
       [ 68,   1,  68,  48],
       [ 69,   0,  19,  48],
       [ 70,   1,  32,  48],
       [ 71,   0,  70,  49],
       [ 72,   1,  47,  49],
       [ 73,   1,  60,  50],
       [ 74,   1,  60,  50],
       [ 75,   0,  59,  54],
       [ 76,   0,  26,  54],
       [ 77,   1,  45,  54],
       [ 78,   0,  40,  54],
       [ 79,   1,  23,  54],
       [ 80,   1,  49,  54],
       [ 81,   0,  57,  54],
       [ 82,   0,  38,  54],
       [ 83,   0,  67,  54],
       [ 84,   1,  46,  54],
       [ 85,   1,  21,  54],
       [ 86,   0,  48,  54],
       [ 87,   1,  55,  57],
       [ 88,   1,  22,  57],
       [ 89,   1,  34,  58],
       [ 90,   1,  50,  58],
       [ 91,   1,  68,  59],
       [ 92,   0,  18,  59],
       [ 93,   0,  48,  60],
       [ 94,   1,  40,  60],
       [ 95,   1,  32,  60],
       [ 96,   0,  24,  60],
       [ 97,   1,  47,  60],
       [ 98,   1,  27,  60],
       [ 99,   0,  48,  61],
       [100,   0,  20,  61],
       [101,   1,  23,  62],
       [102,   1,  49,  62],
       [103,   0,  67,  62],
       [104,   0,  26,  62],
       [105,   0,  49,  62],
       [106,   1,  21,  62],
       [107,   1,  66,  63],
       [108,   0,  54,  63],
       [109,   0,  68,  63],
       [110,   0,  66,  63],
       [111,   0,  65,  63],
       [112,   1,  19,  63],
       [113,   1,  38,  64],
       [114,   0,  19,  64],
       [115,   1,  18,  65],
       [116,   1,  19,  65],
       [117,   1,  63,  65],
       [118,   1,  49,  65],
       [119,   1,  51,  67],
       [120,   1,  50,  67],
       [121,   0,  27,  67],
       [122,   1,  38,  67],
       [123,   1,  40,  69],
       [124,   0,  39,  69],
       [125,   1,  23,  70],
       [126,   1,  31,  70],
       [127,   0,  43,  71],
       [128,   0,  40,  71],
       [129,   0,  59,  71],
       [130,   0,  38,  71],
       [131,   0,  47,  71],
       [132,   0,  39,  71],
       [133,   1,  25,  72],
       [134,   1,  31,  72],
       [135,   0,  20,  73],
       [136,   1,  29,  73],
       [137,   1,  44,  73],
       [138,   0,  32,  73],
       [139,   0,  19,  74],
       [140,   1,  35,  74],
       [141,   1,  57,  75],
       [142,   0,  32,  75],
       [143,   1,  28,  76],
       [144,   1,  32,  76],
       [145,   0,  25,  77],
       [146,   0,  28,  77],
       [147,   0,  48,  77],
       [148,   1,  32,  77],
       [149,   1,  34,  78],
       [150,   0,  34,  78],
       [151,   0,  43,  78],
       [152,   0,  39,  78],
       [153,   1,  44,  78],
       [154,   1,  38,  78],
       [155,   1,  47,  78],
       [156,   1,  27,  78],
       [157,   0,  37,  78],
       [158,   1,  30,  78],
       [159,   0,  34,  78],
       [160,   1,  30,  78],
       [161,   1,  56,  79],
       [162,   1,  29,  79],
       [163,   0,  19,  81],
       [164,   1,  31,  81],
       [165,   0,  50,  85],
       [166,   1,  36,  85],
       [167,   0,  42,  86],
       [168,   1,  33,  86],
       [169,   1,  36,  87],
       [170,   0,  32,  87],
       [171,   0,  40,  87],
       [172,   0,  28,  87],
       [173,   0,  36,  87],
       [174,   0,  36,  87],
       [175,   1,  52,  88],
       [176,   1,  30,  88],
       [177,   0,  58,  88],
       [178,   0,  27,  88],
       [179,   0,  59,  93],
       [180,   0,  35,  93],
       [181,   1,  37,  97],
       [182,   1,  32,  97],
       [183,   0,  46,  98],
       [184,   1,  29,  98],
       [185,   1,  41,  99],
       [186,   0,  30,  99],
       [187,   1,  54, 101],
       [188,   0,  28, 101],
       [189,   1,  41, 103],
       [190,   1,  36, 103],
       [191,   1,  34, 103],
       [192,   1,  32, 103],
       [193,   0,  33, 113],
       [194,   1,  38, 113],
       [195,   1,  47, 120],
       [196,   1,  35, 120],
       [197,   1,  45, 126],
       [198,   0,  32, 126],
       [199,   0,  32, 137],
       [200,   0,  30, 137]], dtype=int64)

In [7]:
Y = Y = df.iloc[:, -1].values
Y

array([39, 81,  6, 77, 40, 76,  6, 94,  3, 72, 14, 99, 15, 77, 13, 79, 35,
       66, 29, 98, 35, 73,  5, 73, 14, 82, 32, 61, 31, 87,  4, 73,  4, 92,
       14, 81, 17, 73, 26, 75, 35, 92, 36, 61, 28, 65, 55, 47, 42, 42, 52,
       60, 54, 60, 45, 41, 50, 46, 51, 46, 56, 55, 52, 59, 51, 59, 50, 48,
       59, 47, 55, 42, 49, 56, 47, 54, 53, 48, 52, 42, 51, 55, 41, 44, 57,
       46, 58, 55, 60, 46, 55, 41, 49, 40, 42, 52, 47, 50, 42, 49, 41, 48,
       59, 55, 56, 42, 50, 46, 43, 48, 52, 54, 42, 46, 48, 50, 43, 59, 43,
       57, 56, 40, 58, 91, 29, 77, 35, 95, 11, 75,  9, 75, 34, 71,  5, 88,
        7, 73, 10, 72,  5, 93, 40, 87, 12, 97, 36, 74, 22, 90, 17, 88, 20,
       76, 16, 89,  1, 78,  1, 73, 35, 83,  5, 93, 26, 75, 20, 95, 27, 63,
       13, 75, 10, 92, 13, 86, 15, 69, 14, 90, 32, 86, 15, 88, 39, 97, 24,
       68, 17, 85, 23, 69,  8, 91, 16, 79, 28, 74, 18, 83], dtype=int64)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.20, random_state = 10)

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
from sklearn.tree import DecisionTreeClassifier

dtc = DecisionTreeClassifier()

In [11]:
dtc.fit(X_train, Y_train) 
dtc

DecisionTreeClassifier()

In [12]:
Y_pred = dtc.predict(X_test)    
Y_pred

array([56, 77, 61, 74, 51,  5, 12, 60, 42, 77, 49,  3, 55, 89, 34, 50, 52,
       42, 42, 83, 36, 11, 59, 60, 43, 58, 35, 39, 42, 92, 78, 73, 42, 46,
       73, 15, 75, 93, 42, 24], dtype=int64)

In [13]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [14]:
test_score = accuracy_score(Y_test, Y_pred)
test_score

0.0

In [15]:
confusion_matrix(Y_test, Y_pred)

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 1, 0, ..., 0, 0, 0]], dtype=int64)

In [16]:
y_pred_train = dtc.predict(X_train)
y_pred_train

array([23, 94, 32, 10, 51, 49, 55, 83, 50, 43, 14, 61, 48, 93, 73, 56, 86,
       55, 55, 42, 57, 52, 52, 95, 91, 59, 75, 48, 48, 50, 56, 26, 28, 83,
       49, 20, 44, 20, 59, 92, 51, 55,  4, 13, 42, 82, 60, 42, 66, 16, 60,
       13, 41, 57, 39, 87, 77, 73, 74, 17, 73, 85, 24, 68, 65, 34, 50, 90,
       69, 36, 75, 75, 42, 35, 69, 87, 27, 15, 42, 99,  5, 50, 46, 36,  6,
       11, 90, 89, 22, 56, 14, 43, 52,  5, 12, 97, 40, 71, 28, 47, 15, 31,
       88, 75, 32, 42, 43,  8, 74, 73, 47, 15, 42, 88, 17, 92, 40, 29, 61,
       17, 46, 73, 59,  5, 46,  1,  4, 58, 49, 93, 35, 76, 77, 48, 86, 88,
       92, 52, 58, 46, 60, 45, 72, 41, 35, 50, 26, 35, 39, 56,  3, 79, 78,
        1, 91, 46, 51, 79, 77, 72], dtype=int64)

In [17]:
train_score = accuracy_score(Y_train, y_pred_train)
train_score

1.0

In [33]:
parameter_grid = {'max_depth':[1,3,2,6],'min_samples_leaf':[5,7,1,3],'criterion':['gini','entropy']}

parameter_grid

{'max_depth': [1, 3, 2, 6],
 'min_samples_leaf': [5, 7, 1, 3],
 'criterion': ['gini', 'entropy']}

In [19]:
from sklearn.model_selection import GridSearchCV

In [20]:
import warnings
warnings.filterwarnings('ignore')

In [21]:
dtc = DecisionTreeClassifier()

In [22]:
grid = GridSearchCV(estimator=dtc, param_grid=parameter_grid, cv=4, n_jobs=-1, verbose=1, scoring='accuracy')

In [23]:
grid.fit(X_train, Y_train)

Fitting 4 folds for each of 32 candidates, totalling 128 fits

GridSearchCV(cv=4, estimator=DecisionTreeClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [5, 7, 8, 9],
                         'min_samples_leaf': [4, 8, 10, 12]},
             scoring='accuracy', verbose=1)

In [24]:
grid.best_estimator_

DecisionTreeClassifier(criterion='entropy', max_depth=7, min_samples_leaf=12)

In [25]:
dtc_best = grid.best_estimator_

In [26]:

y_pred = dtc_best.predict(X_test)
y_pred

array([51, 73,  4, 74, 42,  4, 88, 51, 42, 73, 46,  4, 51, 88, 88, 43, 46,
       42, 42, 74, 15, 15, 51, 42, 46, 42, 15, 73, 42, 75, 74, 73, 42, 46,
       73, 15, 15, 74,  4, 15], dtype=int64)

In [27]:
dtc_best_score = accuracy_score(Y_train, y_pred_train)
dtc_best_score

1.0

In [36]:
dtc_score = accuracy_score(Y_test, y_pred)
dtc_score

0.0