## Lasso Regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Dataframe = pd.read_csv('Housing_clean.csv')

In [3]:
Dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       545 non-null    int64
 1   price            545 non-null    int64
 2   area             545 non-null    int64
 3   bedrooms         545 non-null    int64
 4   bathrooms        545 non-null    int64
 5   stories          545 non-null    int64
 6   mainroad         545 non-null    int64
 7   guestroom        545 non-null    int64
 8   basement         545 non-null    int64
 9   hotwaterheating  545 non-null    int64
 10  airconditioning  545 non-null    int64
 11  parking          545 non-null    int64
 12  prefarea         545 non-null    int64
 13  semi-furnished   545 non-null    int64
 14  unfurnished      545 non-null    int64
dtypes: int64(15)
memory usage: 64.0 KB

In [4]:
Dataframe.drop(['Unnamed: 0'],axis = 1, inplace = True)

In [5]:
Dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   price            545 non-null    int64
 1   area             545 non-null    int64
 2   bedrooms         545 non-null    int64
 3   bathrooms        545 non-null    int64
 4   stories          545 non-null    int64
 5   mainroad         545 non-null    int64
 6   guestroom        545 non-null    int64
 7   basement         545 non-null    int64
 8   hotwaterheating  545 non-null    int64
 9   airconditioning  545 non-null    int64
 10  parking          545 non-null    int64
 11  prefarea         545 non-null    int64
 12  semi-furnished   545 non-null    int64
 13  unfurnished      545 non-null    int64
dtypes: int64(14)
memory usage: 59.7 KB

In [6]:
X = Dataframe.drop(['price'],axis=1)

In [7]:
X

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,semi-furnished,unfurnished
0,7420,4,2,3,1,0,0,0,1,2,1,0,0
1,8960,4,4,4,1,0,0,0,1,3,0,0,0
2,9960,3,2,2,1,0,1,0,0,2,1,1,0
3,7500,4,2,2,1,0,1,0,1,3,1,0,0
4,7420,4,1,2,1,1,1,0,1,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,1,0,1,0,0,2,0,0,1
541,2400,3,1,1,0,0,0,0,0,0,0,1,0
542,3620,2,1,1,1,0,0,0,0,0,0,0,1
543,2910,3,1,1,0,0,0,0,0,0,0,0,0
544,3850,3,1,2,1,0,0,0,0,0,0,0,1

In [8]:
y = Dataframe['price']

In [9]:
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
## spilitting the datasest into train n test dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.7,train_size=0.3,random_state=80)

In [12]:
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score,mean_squared_error

In [13]:
##define instance of the model
model = Lasso(alpha = 0.01)

In [14]:
model

Lasso(alpha=0.01)

In [15]:
##fit model for training
model.fit(X_train, y_train)

Lasso(alpha=0.01)

In [16]:
## make a prediction on test dataset
y_pred = model.predict(X_test)

In [17]:
## evaluating model on test dataset
r2_test = r2_score(y_test,y_pred)

## Ridge regression

In [18]:
from sklearn.linear_model import Ridge
from sklearn.metrics import r2_score,mean_squared_error

In [19]:
model1 = Ridge(alpha = 0.01)

In [20]:
model1.fit(X_train, y_train)

Ridge(alpha=0.01)

In [21]:
y_pred = model1.predict(X_test)

In [22]:
r2_test = r2_score(y_test,y_pred)

In [23]:
print(r2_test)

0.6399633988142419